<div id="infinite-table" nsPagination>
  <table>
    <thead>
      <tr>
        <th [width]="150">Subreddit Name</th>
        <th>Title</th>
        <th>Reddit type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subReddit of redditResponse?.children">
        <td>{{ subReddit?.data?.name }}</td>
        <td>
          <a [attr.href]="subReddit?.data?.url" target="_blank">
            {{ subReddit?.data?.title }}
          </a>
        </td>
        <td>{{ subReddit?.data?.subreddit_type }}</td>
      </tr>
    </tbody>
  </table>
</div>
